
body, html {height:100%}
body {background:url('../images/bg.png') top center repeat;border:0;font:13px Arial, Helvetica, sans-serif;color:#323232;line-height:17px}



.right1 {float:right;display:block;}
#top_nav1 {float:right;padding:0 0 0 0;margin-top:-150px;}
#top_nav1 li {float:left;padding-left:5px;list-style-type:none}
#top_nav1 a {display:block;background:url('../images/top_nav_bg.jpg') no-repeat;width:79px;font-size:13px;line-height:29px;color:#323232;text-align:center;text-decoration:none}
#top_nav1 a:hover {color:#fff;background:#323232}

#search {float:right;padding:36px -150px 10px 0;margin-top:-100px; }
#search .bg {background:url('../images/search.jpg') no-repeat;width:247px;height:29px}
#search .submit {background:none;width:29px;height:29px;float:right;cursor:pointer}
#search .input {float:right;background:none;font:13px Arial, Helvetica, sans-serif;color:#303030;width:208px;height:17px;padding:3px 3px}

#menu {width:100%;overflow:hidden;margin-top:20px;margin-bottom:0px;height:57px;padding-bottom:1px;border-bottom:5px solid #323232}
#menu li {float:left;list-style-type:none}
#menu li a {display:block;font-size:26px;color:#ffffff;font-weight:600;padding:0 35px;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;position:relative;text-decoration:none;text-transform:uppercase;line-height:57px}
#menu li a:hover, #menu #menu_active a {background:#323232}
#menu .end a {padding-right:36px}

#menu .end a {padding-right:36px}
.nav1 {background: #7da4c8;}
.nav2 {background: #afcf80;margin-left: 22px;}
.nav3 {background: #f0c46f;margin-left: 22px;}
.nav4 {background: #ba92b8;margin-left: 22px;}
.nav5 {background: #58bcc9;margin-left: 22px;}


#cyt{
    background-color: #f0c034;
    width: 1024px;
    height: 350px;
    font-size:45px;
    margin-left: 20px;
}

#hot_point{
    background-color: #f0c46f;
    width: 70px;
    height:20px;
    border-radius: 8px;
    margin-top: 380px;
    margin-left: 0px;
    font-size: 30px;
    padding:25px;

}

#wenzhang{
    margin-top: 20px;
    display: block;
}

.article1,.article2,.article3{
    border:5px solid #ffffff;
    padding-top: 10px;
    border-radius: 8px;
}
#article1_text{
    float: right;
    font-size:20px;
    padding: 20px;
    width:450px;
}

#article2_text{
    font-size:20px;
    padding: 20px;
    float: left;
}

#article3_text{
    float: right;
    font-size:20px;
    padding: 20px;
}

#thing_border1{
    width: 1055px;
    height: 400px;
    background:url('../images/thing33.jpg');
}
#thing_border2{
    width: 1055px;
    height: 400px;
    background:url('../images/thing22.jpg');
}

#thing_border3{
    width: 1055px;
    height: 400px;
    background:url('../images/thing11.jpg');
}


/*gotop*/
#code,#code_hover,#gotop{ width:57px; height:58px; background:url("../images/code2.jpg") no-repeat; position:fixed; right:50px; cursor:pointer;
    _position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
#code{background-position:-273px -250px; bottom:200px; _margin-bottom:130px;z-index:998;}
#code_hover{background-position:-273px -250px; bottom:200px; _margin-bottom:130px;z-index:998;opacity:0.8;}
#gotop{ background-position:-273px -306px;bottom:132px; _margin-bottom:172px;}
#code_img{ width:270px; height:355px; background:url("../images/code2.jpg") -4px -3px no-repeat; position:fixed; right:108px; bottom:135px; cursor:pointer; display:none;z-index:999;
    _position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:135px;}


/* 轮播图 */
#home{
    margin-top: 20px;
    margin-bottom: 20px;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 1024px;
    height: 350px;
    font-size:45px;
    margin-left: 20px;
}
.rslides li {
    display: none;
    width: 1024px;
    height: 350px;
    font-size:45px;
    margin-left: 20px;
    margin-top: -220px;

}
.rslides img {
    height: auto;
}
.banner{
    background:url(../images/bnr-1.jpg) no-repeat;
    min-height:600px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.banner img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

.banner1{
    background:url(../images/bnr-2.jpg) no-repeat;
    min-height:600px;
    /*background-size:cover;*/
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.banner2{
    background:url(../images/bnr-3.jpg) no-repeat;
    min-height:600px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}

.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}
.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;

}
.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 95.8%;
    left: 80%;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 30px;
    width: 30px;
    display: none;
}
.callbacks_nav:active {
    opacity: 1.0;
}
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 16.4%;
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 101%;
    z-index: 999;
    left: 0%;
    width: 100%;
    text-align: center;
    margin: 0;
    display: block;
    padding: 0;
}
.callbacks_tabs li{
    display:inline-block;
}
@media screen and (max-width: 600px) {
    .callbacks_nav {
        top: 47%;
    }
}
.callbacks_tabs a{
    visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    visibility: visible;
    height: 12px;
    width: 12px;
    display: inline-block;
    border:none;
    background:#000;
}
.callbacks_here a:after{
    background:rgba(6, 107, 195, 0.85);
}
ul.callbacks_tabs.callbacks2_tabs {
    display: block;
}

/*--弹窗样式--*/

#gray{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
    position:fixed;
    top:0;
    display:none;
    z-index:99;
}

.popup{
    width:532px;
    height:auto;
    background-color:#fff;
    position:absolute;
    z-index:100;
    border:1px solid #ebeaea;
    left:400px;
    top:96px;
    display:none;
}
.popup .top_nav{
    width:532px;
    height:46px;
    background-image: url(../images/popup_top_bj.jpg);
    border-bottom:1px solid #ebeaea;
    position:relative;
    cursor:move;
}
.popup .top_nav i
{
    width:35px;
    height:35px;
    background:url(../images/heart.PNG);
    position:absolute;
    top:6px;
    left:8px;
    display:block;
}
.popup .top_nav span{
    font:18px/18px 'microsoft yahei';
    color:#707070;
    display:block;
    position:absolute;
    top:13px;
    left:50px;
}

.popup .top_nav a.guanbi { background:url(../images/popup_guanbi.png) repeat 0 0; width:35px; height: 35px; display: block; position:absolute;top:8px;right:10px;cursor:pointer;}
.popup .top_nav a.guanbi span { display: none;}
.popup .top_nav a.guanbi:hover { background: url(../images/popup_guanbi.png) repeat 0 -35px; }
.popup .min{width:532px;height:auto;padding:10px;}

.tc_login{width:510px;height:380px;background-color:#fff;}
.tc_login .left{width:200px;height:380px;background-color:;float:left;}
.tc_login .right{width:290px;height:380px;background-color:;float:right;padding-right:10px;}
.tc_login .left h4{width:200px;height:20px;margin:20px 0 20px 0;font-size:15px;color:#666;text-align:center;}
.tc_login .left img{width:150px;margin:0 auto;display:block;border:1px solid #E3E3E3;padding:4px;}
.tc_login .left dd{width:200px;height:30px;font:13px/18px 'microsoft yahei';color:#666;margin:20px 0 10px 0;text-align:center;display:block;}

.tc_login .right i{font-size:20px;color:#090;float:right;margin:15px 0 0 0;}
.tc_login .right a{font:13px/18px 'microsoft yahei';color:#666;float:right;margin:16px 0 0 6px;}
.tc_login .right a:hover{color:#06F;text-decoration: underline;}
.tc_login .right input{
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 40px;
    padding:0 0 0 34px;
    margin:10px 0 0 10px;
    transition: background 0.3s ease-in-out;
    width: 220px;
    float:right;
}
.tc_login .right input:focus {
    outline: none;
    border-color: #019A0D;
    box-shadow: 0 0 0 #019A0D;
}
.tc_login .right .input_yh{background:url(../images/tc_login_yonghu.jpg) no-repeat left top;}
.tc_login .right .input_mm{background:url(../images/tc_login_mima.jpg) no-repeat left top;}
.tc_login .right .input_yh:focus{background:url(../images/tc_login_yonghu2.jpg) no-repeat left top;}
.tc_login .right .input_mm:focus{background:url(../images/tc_login_mima2.jpg) no-repeat left top;}
.tc_login .right .button{
    -webkit-appearance: none;
    background:#36a803;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 255px;
    padding:0 50px 0 50px;
    font-weight: bold;
}
.tc_login .right .button:hover {  background: #019A0D;  }
.tc_login .right dd{width:100%;height:30px;}
.tc_login .right dd a{font:12px/18px 'microsoft yahei';color:#06F;}
.tc_login .right dd a:hover{font:13px/18px 'microsoft yahei';color:#06F;text-decoration: underline;}
.tc_login .right hr{height:1px;border:none;border-top:1px dashed #E4E4E4;clear:both;margin:240px 0 5px 0;}


/*contact页面*/
input {
    vertical-align:middle;
    font-size:100%;
}
em,i {
    font-style:normal;
}
.l {
    float:left;
}
.r {
    float:right;
}
.c {
    clear:both;
}
.o {
    overflow:hidden;
}
.left {
    float:left;
}
.right {
    float:right;
}
a {
    color:#666;
    text-decoration:none;
}
a:hover {
    color:#F60;
    text-decoration:underline;
}
.clearfix {
    *zoom:1;
}
.clearfix:before,.clearfix:after {
    display:table;
    content:"";
}
.clearfix:after {
    clear:both;
}
.content {
    position:relative;
    width:1000px;
    margin:0 auto;
}

ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    cursor: point;
}
hr {
    height: 0;
    border-left: none;
    border-right: 0;
    border-top: 1px dashed #2d2f34;
    border-bottom: 1px dashed #474954;
}
.top{
    margin-top: 60px;
}
.top img{
    width: 100%;
    margin-top: -10px;
}
.content {
    margin-left: 20px;
    padding: 50px 0;
    min-height: 720px;
    background: #3a3c48 url("../images/content-bg.png");
    width: 100%;
}
.content .wrapper {
    position: relative;
    background: url("../images/release-bg.png") no-repeat right top;
    width: 960px;
    margin: 0 auto;
}
.content .light {
    position: absolute;
    left: 55px;
    top: -50px;
    width: 152px;
    height: 191px;
    background: url("../images/light-top.png") no-repeat top center;
}
.content .light i {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url("../images/light.png") no-repeat top center;
}
.content .line-left {
    position: absolute;
    left: 0;
    top: 15px;
    width: 70px;
}
.content .line-right {
    position: absolute;
    right: 0;
    top: 15px;
    width: 460px;
}
.content .main {
    background: url("../images/line-bg.png") repeat-y 249px 0;
}
.content .main .title {
    position: absolute;
    line-height: 40px;
    padding-left: 67px;
    left: 230px;
    top: 0;
    color: #58a6fb;
    font-size: 24px;
    background: url("../images/clock.png") no-repeat left top;
}
.content .main .year {
    position: relative;
    z-index: 100;
}
.content .main .year h2 {
    height: 40px;
    width: 170px;
    padding-right: 30px;
    font-size: 24px;
    line-height: 40px;
    text-align: right;
}
.content .main .year h2 a {
    color: #58a6fb;
}
.content .main .year h2 i{
    display:block;
    position:relative;
    height:0;
    width:0;
    left:190px;
    top:-20px;
    border-width:6px;
    border-style:solid;
    border-color:#59a7fb transparent transparent transparent;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
    -webkit-transform-origin:6px 3px;
    -moz-transform-origin:6px 3px;
    -ms-transform-origin:6px 3px;
    -o-transform-origin:6px 3px;
    transform-origin:6px 3px
}
.content .main .year .list{
    margin:10px 0;
    position:relative;
    overflow:hidden;
    -webkit-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    -moz-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    -ms-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    -o-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s
}
.content .main .year .list ul {
    bottom: 0;
}
.content .main .year .list ul li {
    background: url("../images/circle.png") no-repeat 235px 31px;
    padding: 30px 0;
    color: #a1a4b8;
}
.content .main .year .list ul li.highlight {
    background-image: url("../images/circle-h.png");
}
.cls {
    zoom: 1;
}
.cls:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.content .main .year .list ul li.highlight .date, .content .main .year .list ul li.highlight .intro {
    color: #ec6a13;
}
.content .main .year .list ul li .date,.content .main .year .list ul li .version{
    float:left;
    display:block;
    clear:left;
    width:200px;
    line-height:24px;
    text-align:right
}
.content .main .year .list ul li .date{
    font-size:18px;
    line-height:32px;
    color:#bec1d5
}
.content .main .year .list ul li .intro, .content .main .year .list ul li .more {
    float: left;
    display: block;
    width: 400px;
    margin-left: 100px;
    line-height: 24px;
}
.content .main .year .list ul li .intro {
    font-size: 18px;
    line-height: 32px;
    color: #63d029;
}
.content .wrapper:first-child .main .year.close h2 i{
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg)
}
.content .wrapper:first-child .main .year.close .list{
    opacity:0;
    height:0!important;
}
.ie7 .content .main .year h2 i{
    left:40px
}



/*mine.html的样式*/
#mine-left
{
    float: left;

}
#mine-left-nav
{

    width: 120px;
    height: 180px;

}
.mine-div
{
    width:700px;
    height:150px;

}
#mine-med
{
    float:left;
    margin-left: 10px;
}

#mine-right-touxiang
{
    border: 2px black solid;
    width: 220px;
    height: 300px;
    text-align: center;
    font-size: 18px;
}
#mine-right-xia
{
    border: 2px black solid;
    width: 220px;
    height: 518px;
    text-align: center;
    font-size: 18px;
}
#mine-right-touxiang img
{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
#mine-right
{
    float:right;
}

#mine-left-nav li
{
    width:110px;
    height: 60px;
    margin-left: -40px;
    margin-top: -14px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
}
#mine-footer
{
    float: left;
    margin-left: 250px;
    margin-top: 300px;
}




/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
    font:12px/1.5 tahoma,arial,\5b8b\4f53;
}
input,select,textarea{
    font-size:100%;
}

/* 去掉各Table cell 的边距并让其边重合 */
table{
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}


a{
    color: #333;
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
    text-decoration:underline;
    color: #c00;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}

/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
    display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}




/* club */
#club{width:888px;height:190px; auto;border:1px solid #dddddd;border-radius:5px 5px 0px 0px;}
#club .modle{width:443px;height:190px;border-right:1px solid #dddddd;float:left;}
#club .modle_right{border-right:none;float:right;}
#club .modle .modle_title{width:443px;height:29px;line-height:29px;font-size:12px;font-weight:bold;background:#f3f3f3;}
#club .modle .modle_title span{padding-left:7px;}
#club .modle .modle_con{width:423px;margin:0 auto;height:160px;overflow:hidden;}
#club .modle .modle_con ul li{border-bottom:1px #DDD dotted;position:relative;}
#club .modle .modle_con .modle_img{width:50px;height:79px;text-align:center;}
#club .modle .modle_con .modle_img img{margin-top:14px;}
#club .modle .modle_con .modle_img i{display:block;width:15px;height:17px;background:url(../image/buy.png)no-repeat;position:absolute;top:10px;left:60px;}
#club .modle .modle_con .modle_text{width:337px;height:60px;overflow:hidden;margin-top:15px;padding-left:8px;}
#club .modle .modle_con .modle_text p a{color:#005ea7;}
#club .modle .modle_con .modle_text div a{color:#999999;}



/*发布*/
.main{
    width: 800px;
    margin:0px auto;
}
span{
    display: inline-block;
    width: 200px;
    height: 25px;
    line-height: 25px;
    vertical-align: center;
    text-align: left;
    margin-bottom: 10px;
}
.tag{
    font-size: 13px;
    margin-left: 320px;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 0;
}
.text{
    width: 670px;
    height: 130px;
    margin-left:15px;
    resize:none;
}

#ipt{
    display: inline-block;
    width: 80px;
    height: 50px;
    background: #E2526F;
    border: 0;
    margin-left: 600px;
    margin-top: 7px;
}
#txt{
    font-size: 20px;
}
.creatediv{
    width: 600px;
    height: 80px;
    border: 1px solid gray;
    position: relative;
    margin-top: 10px;
    margin-left:10px;
    padding-left: 75px;
}
.createinput{
    width: 80px;
    height: 30px;
    position:absolute;
    right: 5px;
    bottom:5px;
}
.createimg{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.createdivs{
    width:600px;
    height:50px;
    position: absolute;
    top: 15px;
    left: 85px;
}

/*“我的”页面的右下角增加的样式*/
#left {
    width:215px;
    border:1px solid #C8C8C8;
    float:left;
    margin-left:2px;
    display:inline;
    background-color:#F5F5F5;
}
#left .title {
    position:relative;
    text-indent:25px;
    color:#000;
    font-size:14px;
    font-weight:bold;
    width:175px;
    height:25px;
    margin-left:1px;
    line-height:25px;
}
#left .more {
    position:absolute;
    top:10px;
    left:110px;
    width:49px;
    height:12px;
}
#leftcontent {
    width:174px;
    padding:5px 0 0 12px;
}
#leftcontent  p {
    text-indent:2em;
    text-decoration:underline;
    line-height:1.2;
    padding:3px 10px 0 5px;
}
#leftcontent ul {
    list-style-type:square;
    padding:12px 0 16px 5px;
    width:169px;
    list-style-position:inside;
}
#leftcontent li {
    line-height:2.3;
    vertical-align:middle;
    border-bottom:1px dashed #C4C2C2;
}
